.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4 {
    margin: 25px;
}

.emptyBoxGif{
    max-width: 275px;
}

.cartBtnAction{
    margin: 10px;
}

th {
    color: cadetblue;
    font-weight: 600;
}