#logo{
    max-width: 50px;
}

#balija{
    max-width: 30px;
}

#siteName{
    font-size: 20px;
    color:cadetblue;
}

.linkNavigationSite, .linkNavigationSite:visited, .linkNavigationSite:focus{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.linkNavigation, .linkNavigation:visited, .linkNavigation:focus  {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.linkNavigation:hover{
    transform: scale(1.1);
    transition: 600ms transform;
}


span {
    text-decoration: none;
}