.imgCartItem{
    max-width: 50px;
    max-height: 70px;
}

li{
    list-style: none;
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li span{
    margin: 0 5px
}